a{
    text-decoration: none;
}
.layout{
    display: flex;
    justify-content: center;
}
.corpo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1360px;
    width: 100%;
}
h5{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.705);
    max-width: 400px;
    width: 100%;
}
.dados{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1360px;
    width: 100%;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px #ccc;
}
.dados-p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1360px;
    width: 100%;
    margin-top: 20px;

}

.dadosuser{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
}
.pedidos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
}
.endereco{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
}
.pequeno{
    margin: 5px;
    max-width: 300px;
    width: 100%;
    opacity: 0.6;
    margin-left: 20px;
}
.small{
    margin: 5px;
    width: 100%;
    opacity:0.6;
}
.grande{
    margin: 5px;
    max-width: 750px;
    width: 100%;
    opacity: 0.6;
}
fieldset{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
}
.abertos{
    display: flex;
    max-width: 1000px;
    width: 100%;

    flex-wrap: wrap;
}
.link{
    display: flex;
    width: 100%;
}
.aberto{
    display: flex;
    max-width: 1000px;
    width: 100%;
    flex-wrap: wrap;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
}
.hederpedido{
    display: flex;
    max-width: 1000px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.348);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.600);
}
.hederpedido > div{
padding: 10px;
}
.status{
    background-color: #9fb878;
    border-radius: 25px;
    margin: 3px;
    color: white;
    font-weight: 500;

}
.nomeproduto{
    margin: 5px;
    max-width: 300px;
    width: 100%;
    opacity: 0.6;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
}
.nomeproduto a{
padding: 8px;
color: #03850a
}
.itens{
    display: flex;
    max-width: 450px;
    width: 100%;
    flex-wrap: wrap;
}
.img-produto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    margin: 5px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
}
.img-produto img{
    width: 130px;
    height: 130px;
    margin: 5px;
    border-radius: 5px;
}
.dados-produto{
    max-width: 300px;
    width: 100%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.658);
}
.dados-produto-header{
    display: flex;
    justify-content: flex-end;
}
.margin-right{
margin-right: 15px;
}
.margin-right-20{
    margin-right: 20px;
    }
.dados-venda{
    display: flex;
    max-width: 1000px;
    width: 100%;
    border-radius: 8px;
}
.inf{
    max-width: 530px;
    width: 100%;
    margin-top: 3px;
    display: flex;
    justify-content:space-around ;

}
.tipopedido{
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
max-width: 400px;
width: 100%;
color: rgba(0, 0, 0, 0.623);
}
.emlinha{
    display: flex;
}
.tiulo{
    color: rgba(0, 0, 0, 0.681);
    font-weight: bold;
    padding-right: 5px;
}
.entrega{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 420px;
    width: 100%;
}
.valor{
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.63);
    width: 100%;
    max-width: 70px;
}
.valor > div{
    color: rgb(32, 180, 32);
    font-weight: bold;
    font-size: 16px;
}
.finalizados{
    display: flex;
    margin-top: 60px;
    max-width: 350px;
    width: 100%;
}
.historico{
    display: flex;
    justify-content: center;
    max-width: 350px;
    width: 100%;
    background-color: rgb(43, 135, 255);
    padding: 13px;
    color: white;
    border-radius: 15px;
}
.historico:hover{
    background-color: rgb(23, 104, 255);
}