.layout{
    max-width: 100vw;
    display: flex;
    justify-content: center;
}
.display{
    display: flex;
    max-width: 1366px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.voltar{
    max-width: 1366px;
    width: 100%;
    display: flex;
    justify-content: start;
    font-size: 23px;
    padding:45px;

}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.678);

}
.car_itens{
    max-width: 1366px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.items{
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.artic{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
    height: 120px;
    border-radius: 15px;
}
.artic:hover{
    box-shadow: 10px 10px 10px #ccc;
}
.artic a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
    height: 120px;
    border-radius:15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.644);
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
    height: 120px;
    border-radius: 15px;
    background-color: white;
}
.foto-pro{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 165px;
    width: 100%;
    height: 120px;
    background-color: rgb(226, 226, 226);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    color: rgba(2, 2, 2, 0.63);
}
.foto-pro img{
    max-width: 165px;
    width: 100%;
    height: 120px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.exluir button{
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border: none;
}


/* sem produto*/
.semproduto{
        max-width: 900px;
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 300;
        flex-wrap: wrap;
}
.semproduto  div{
    display: flex;
    max-width: 900px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.692);
}
.semproduto a{
        display: flex;
        justify-content: center;
        background-color: rgba(173, 0, 0, 0.774);
        padding: 12px;
        width: 250px;
        border-radius: 10px;
        color: white;
        font-weight: inherit;
}

/* ============ tela de finalização ============= */
.finalizar{
    display: flex;
    margin-top: 20px;
    max-width: 300px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 200px;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
.total-pedido{
    margin-top: 5px;
    max-width: 280px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    display: flex;
}
.qtde-f{
    display: flex;
    margin-top: 5px;
    max-width: 280px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.60);
    justify-content: space-between;
}
.subtotal-f{
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    max-width: 280px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.60);
}
.finalizar a{
    margin-top: 5px;
    max-width: 280px;
    width: 100%;
    height: 45px;
    border: none;
}
.btn-finalizar{
    margin-top: 5px;
    max-width: 280px;
    width: 100%;
    font-size: 16px;
    height: 45px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    border: none;
    background-color: #62ff07;
    background:  linear-gradient(
        90deg,#7ae03e,#5ad314);
    color: white;
    font-weight: 500;
    height: 45px;
}
.btn-finalizar:hover {
    background-color: #62ff07;
    background:  linear-gradient(
        90deg,#71ca3e,#4db114);
}

