.layout{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
section{
    margin: 10px;
    max-width: 1366px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.produto{
    display: flex;
    margin-top: 50px;
    max-width: 1100px;
    width: 100%;
    background-color: ghostwhite;
    padding: 35px;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px #ccc;
    border-radius: 45px;
}
.up{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
}
.foto{
    max-width: 650px;
    width: 100%;
    height: 100%;
    max-height: 600px;
    position: relative;
}


/*dados*/


.dados{
    display: flex;
    max-width: 400px;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.nome{
    display: flex;
    max-width: 400px;
    width: 100%;
    height: 30px;
    justify-content: start;
    font-size: 25px;
    font-weight: bolder;
    opacity: 0.7;
}
.valor{
    display: flex;
    font-weight: bolder;
    max-width: 400px;
    width: 100%;
    justify-content: start;
    font-size: 30px;
    color: #97CA45
}
.qtde-disponivel{
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: start;
    font-size: 30px;
    font-size: 13px;
    opacity: 0.9;
}
.v-q{
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
}




/*formulario*/
.form{
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: start;
    height: 200px;
    flex-wrap: wrap;
}
.form .qtde{
    display: flex;
    width: 300px;
    height: 40px;
    justify-content: start;
    font-size: 16px;
    flex-wrap: wrap;
    opacity: 0.8;
}
.form .qtde input{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.699);

}
.btn-car{
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: start;
    margin-top: 15px;
}
.btn-car button{
    width: 300px;
    height: 50px;
    background-color: rgb(204, 49, 49);
    background:  linear-gradient(
        90deg,rgb(185, 46, 46),rgb(190, 10, 10));
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}
.btn-car button:hover{
    background:  linear-gradient(
        90deg,rgb(177, 49, 49),rgb(151, 9, 9));
}
.btn-comprar{
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: start;
    margin-top: 15px;
}
.btn-comprar button{
    width: 300px;
    height: 50px;
    background-color: #62ff07;
    background:  linear-gradient(
        90deg,#70db32,#63d123);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;

}
.btn-comprar button:hover{
    background-color: #62ff07;
    background:  linear-gradient(
        90deg,#65e41c,#47ad0c);
}




/* avaliar*/
.aval{
    max-width: 1300px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}
.aval span{
    font-size: 18px;
    opacity: 0.7;

}
.svg{
    max-width: 1360px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    fill: rgb(100, 138, 40);
}
.svg div span{
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    font-weight: bolder;
    color:rgb(100, 138, 40);
}
.svg div button{
    margin-left: 30px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    background-color: rgb(100, 138, 40);
    font-size: 16px;
    color: white;
    border-radius: 5px;
}