.layout{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.img-ecommers{
    padding: 0;
    max-width: 1366px;
    width: 90%;
    height: 300px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}
.img-ecommers img{
    width: 100%;
}

/*produtos da oferta*/
.ofertas{
    margin-top: 50px;
    max-width: 1365px;
    width: 90%;
    display: flex;
    justify-content: center;
    
}
.ofertas span{
    font-size: 25px;
    opacity: 0.5;
}
.produtos{
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    max-width: 1322px;
    width: 100%;
    flex-wrap: wrap;
}
.produtos section{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.grid-produtos{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    -moz-column-gap: 15px;
    column-gap: 15px;
    margin: 1rem 1rem 2rem;
    row-gap: 15px;
    justify-content: space-between;
}
.grid-produtos a{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Poppins,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    list-style: none;
    color: inherit;
}
.article-produto{ 
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    height: 350px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s;
}
.produto{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 350px;
    width: 200px;
    border-radius: 5px;
}
.article-produto:hover{
    box-shadow: 10px 10px 1px #ccc;
}
.img-produto{
    width: 190px;
    height: 130px;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    color: rgba(7, 7, 7, 0.562);
}
.img-produto{
    width: 190px;
    height: 130px;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    color: rgba(7, 7, 7, 0.562);
    border-radius: 3px;
}
.img-produto img{
    width: 180px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;

}
.dados{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    flex-wrap: wrap;
    margin: 15px;

}
.info{
    display: flex;
    justify-content: center;
    width: 100%;
}
.valores{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}
.nome{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight:bolder;
    color: rgba(7, 7, 7, 0.671);
}
.valor{
    font-size: 25px;
    color: rgb(144, 194, 63);
    font-weight: bold;
}

.rodape footer{
    width: 100vw;
    height: 500px;
    background-color: rgb(216, 216, 216);
}