
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(253, 253, 253);
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.menu{
    justify-content: center;
    display: flex;
    width: 100vw;
    
}
a{
    text-decoration: none;
    color: white;
}

#nav_bar {
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    flex-wrap: wrap;
}
.barra{
    background-color: #03202E;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;

}
.start{
    justify-content: center;
    display: flex;
    width: 100%;
    max-width: 1366px;
}

.star{
    display: flex;
    position: absolute;
    left: 18%;
}
.star a{
    padding: 20px;
    
}
.star a:hover{
    background-color: #1B3656;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.esp a{
    padding: 20px;
    
}
.esp a:hover{
    background-color: #1B3656;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.esp{
    display: flex;
    position: absolute;
    right: 15%;
}
ul{
    list-style: none;
    display: flex;
}
li{
    padding: 5px;
}

.inicio .baner{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.inicio{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;

    justify-content: center;

}
.inicio h3{
    font-size: 50px;
}
.sobre{
    width: 100vw;
    width: 100%;
    max-width: 1399px;
    display: grid;
    color: white;
    margin-top: 5rem;

}

.sobre span{
    width: 100%;
    max-width: 1399px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}
.user{
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    width: 300px;
    height: 100px;
    flex-wrap: wrap;
}
.user h6{
    margin-top: 5px;
    font-size: 23px;
}
.user h5{
    font-weight: bold;
    margin-top: -40px;
    font-size: 20px;
    color: cyan;
}

.end li{
    padding-right: 55px;
}

.start li{
    padding-left: 45px;
}
.modu{
    display: flex;
    justify-content: center;
}
.modulos{
    width: 100vw;
    width: 100%;
    max-width: 1266px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 150px;
    margin: 0 auto;
    align-items:center ;
    margin-top: 11rem;
    color: rgba(255, 255, 255, 0.747);
    justify-content: space-around;
}
.modulos > div{

    height: 310px;
    width: 350px;    
    background-color: rgba(243, 243, 243, 0.815);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius:5%;
}
.modulos h5{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: black;
}

.modulos .mo > div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    }

.modulos  .mo > div span{
    width: 350px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #8fd200;
    background: linear-gradient(
    90deg,#8fd200,#00baff);
}

.f{
    opacity: .6;
}
#btn-mobile{
    display: none;
}




/* deixar para monitores menores*/




@media (max-width: 1366px) {

    .modulos{
        width: 100%;
        width: 95vw;
        max-width: 1180px;
        display: flex;
        grid-gap: 5%;
        justify-content: center;
    }
    .modulos > div{
        display: flex;
        height: 310px;
        max-width: 350px; 
        justify-content: space-around;
    }
    .modulos  .mo > div span{
        width: 100%;
        height: 60px;
        max-width: 350px;
        display: flex;
     }
     .modulos  .mo  div{
        width: 100%;
        max-width: 350px;
        align-items: flex-end;
     }    
     .modulos  .mo  div a{
         width: 100%;
     }
     .inicio h3{
        font-size: 45px;
    }

     .modulos h5{
        font-size: 23px;
    }

     .sobre div{
         display: flex;
        padding-left: 30px;
        }

  
}

/*menu hanburg*/

@media (max-width:1130px){

    #nav_bar{
        justify-content: flex-start;
    }
    .barra{
       justify-content: flex-start;
    
    }
    .start{
        justify-content: flex-start;
        display: block;
        width: 100%;
      
    }
    
    .star{
        justify-content: flex-start;
        display: flex;
        position: absolute;
        top: 80px;
        right: 250px;
    }
    .esp{
        display: flex;
        position: absolute;
        right: 213px;
        top: 223px;
    }






    #btn-mobile {
        position: absolute;
        top: 25px;
        right: 25px;
        border: none;
        border-radius: 90%;
        background-color: #03202E;
        display: flex;
        width: 48px;
        height: 48px; 
        z-index: 1001;
        transition: .6s;  
        justify-content: center;
        align-items: center; 
    }
    .menu{
        transition: .6s;
        display: block;
        justify-content: flex-start;
    }
    .menu .active .barra {
        display: flex;
        position: absolute;
        transition: .6s;
        top: -80px;
        right: 0px;
        max-width: 350px;
        height: 109vh;
        margin-left: 0px;
        z-index: 1000;
        visibility: visible;
    }
    .menu .active .barra  div{
        margin-top: 180px;
        display: block;
        height: 100vh;
        max-width: 350px;

     }
     .menu .active ul{
       display: block;
   }
   .menu .active li{
       padding: 15px;
       transition: .6s;
   }
   .barra{
    display: block;
    position: absolute;
    visibility: hidden;
    }

    #hamburger{
position: absolute;
        border-top: 2px solid;
        width: 20px;
        color: white;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #btn-mobile.active #hamburger {
        border-top-color: transparent;
      }
      #btn-mobile.active #hamburger::before {
        transform: rotate(135deg);
      }
      #btn-mobile.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }

      
}


/* deixar para celulares*/

@media (max-width: 759px) {
    .modulos{
        width: 98%;
        width: 98vw;
        max-width: 759px;
        display: flex;
        justify-content: center;
        flex-wrap:wrap-reverse;
        margin-top: 20px;

    } 
    .inicio h3{
        font-size: 25px;
    }
    .sobre{
    margin-top: 10px;
    }
    .baner{
        background-size: cover;
    }
    .modulos > div{
        width: 100%;
        height: 150px;
        max-width: 710px;
        border-radius: 20px;
        margin: 1rem;
    }
    .modulos  .mo > div span{
        width: 100%;
        max-width: 710px;
        height: 30px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;   
        font-size: 16px;
     }
          .modulos  .mo  div{
        width: 100%;
        max-width: 710px;
        align-items: flex-end;
          }
     .modu{
         display: flex;
         justify-content: center;
         width: 100%;
         width: 100vw;
         max-width: 759px;
     }
     .modulos h5{
        font-size: 18px;
    }



     .sobre div{
         display: flex;
        padding-left: 10px;
        }
        
}


@media (max-width: 550px) {
    .sobre{
        margin-top: 50px;
    }
}